<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Restaurant Listing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="ngOnInit($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="onInput($event)" animated></ion-searchbar>

  <ion-button color="primary" (click)="sort('aggregate_rating', 'asc')">Rating (asc)</ion-button>
  <ion-button color="primary" (click)="sort('aggregate_rating', 'desc')">Rating (desc)</ion-button>
  <ion-button color="primary" (click)="sort('votes', 'asc')">Votes (asc)</ion-button>
  <ion-button color="primary" (click)="sort('votes', 'desc')">Votes (desc)</ion-button>
  <ion-button color="primary" (click)="sort('avg_cost_for_two', 'asc')">Average cost for two (asc)</ion-button>
  <ion-button color="primary" (click)="sort('avg_cost_for_two', 'desc')">Average cost for two (desc)</ion-button>

  <div *ngFor="let restaurant of (restaurants)">
    <ion-card>
      <ion-item>
        <ion-icon name="pin" slot="start"></ion-icon>
        <ion-label>{{restaurant.restaurant_name}}</ion-label>
        <ion-button fill="outline" slot="end" (click)="completeInfo(restaurant._id)">View</ion-button>
      </ion-item>
    
      <ion-card-content>
        <h2>Cuisines: {{restaurant.cuisines}}</h2>
        <h2>Rating: {{restaurant.aggregate_rating}} | {{restaurant.rating_text}}</h2>
        <h2>No. of Votes: {{restaurant.votes}}</h2>
        <h2>Online Delivery: {{restaurant.has_online_delivery}}</h2>
        <h2>Average Cost for two: {{restaurant.avg_cost_for_two}} | {{restaurant.currency}}</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
